---
export const prerender = false;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>The Kitchen Pot Content Manager</title>
  </head>
  <body>


    <script src="https://unpkg.com/decap-cms@^3.1.2/dist/decap-cms.js"></script>


<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.init({
      APIUrl: 'https://thekitchenpot.com/.netlify/identity'
    });
  }
</script>
  </body>
</html>