---

import { Icon } from 'astro-icon/components';
---

<a href="/" class="flex items-center space-x-2">
  <Icon name="mdi:chef-hat" class="h-8 w-8 text-white" />
  <span class="font-['Bebas_Neue'] text-3xl tracking-wider text-accent text-white">The Kitchen Pot</span>
</a>